.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

@media screen and (max-width: 600px) {
  .books {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
  }
}

.book {
  background-color: black;
  color: white;
  padding: 25px;
  text-align: center;
}
