body {
  font-family: Arial;
}

thead {
  background-color: black;
  color: white;
  position: sticky;
  top: 0px;
}

tbody {
  color: black;
}

th,
td {
  text-align: left;
  padding: 5px;
}

tbody th,
tbody td {
  border-bottom: solid 1px black;
}

tbody tr:nth-child(odd) {
  background-color: white;
  border: inherit;
}

tbody tr:nth-child(even) {
  background-color: lightgray;
}
