#box {
  font-size: 2em;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/36/Cheetah_%28Acinonyx_jubatus%29_female_2.jpg");
  background-clip: border-box;
  background-repeat: no-repeat;
  overflow: auto;
  height: 533px;
  width: 800px;
}
