.grid-container {
  background-color: black;
  color: white;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item {
  background-color: yellow;
  color: black;
  padding: 10px;
}

.flex-box {
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.flex-item {
  background-color: yellow;
  color: black;
  padding: 10px;
  margin: 10px;
}

#e2 {
  grid-row: 2;
  grid-column: 2 / 4;
}
